{% extends 'layout.twig' %}

{% block contentHeader %}
	Produto: {{ produto.codigo }} - {{ produto.descricao }}
{% endblock %}

{% block buttonHeader %}

	<button type="button" class="btn btn-success btn-circle">
		<i class="fa fa-plus"> </i>
	</button>

{% endblock %}

{% block conteudo %}

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Codigo</th>
				<th>Descrição</th>
				<th>Unidade</th>
				<th>Preço</th>
			</tr>
		</thead>
		<tbody>
			
				<tr>
					<td><a href='#'>{{ produto.codigo }}</a></td>
					<td>{{ produto.descricao }}</td>
					<td>{{ produto.unidade }}</td>
					<td>{{ produto.preco }}</td>
				</tr>
			
		</tbody>
	</table>
</div>

{% endblock %}

